WS_cargaAcademica/WebContent/wsdl/WSCargaAcademica.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.edu.uniajc" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.edu.uniajc" xmlns:intf="http://ws.edu.uniajc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.edu.uniajc" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getCargaAcademicaJSON">
    <complexType>
     <sequence>
      <element name="IDENTIFICACION" type="xsd:string"/>
      <element name="AÑO" type="xsd:string"/>
      <element name="PERIODO" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCargaAcademicaJSONResponse">
    <complexType>
     <sequence>
      <element name="getCargaAcademicaJSONReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCargaAcademicaJSONRequest">

      <wsdl:part element="impl:getCargaAcademicaJSON" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCargaAcademicaJSONResponse">

      <wsdl:part element="impl:getCargaAcademicaJSONResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSCargaAcademica">

      <wsdl:operation name="getCargaAcademicaJSON">

         <wsdl:input message="impl:getCargaAcademicaJSONRequest" name="getCargaAcademicaJSONRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCargaAcademicaJSONResponse" name="getCargaAcademicaJSONResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSCargaAcademicaSoapBinding" type="impl:WSCargaAcademica">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCargaAcademicaJSON">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCargaAcademicaJSONRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCargaAcademicaJSONResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSCargaAcademicaService">

      <wsdl:port binding="impl:WSCargaAcademicaSoapBinding" name="WSCargaAcademica">

         <wsdlsoap:address location="http://localhost:8180/WS_cargaAcademica/services/WSCargaAcademica"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
