WS_cargaAcademica/WebContent/wsdl/WSCargaAcademica.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.edu.uniajc" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.edu.uniajc" xmlns:intf="http://ws.edu.uniajc" xmlns:tns1="http://model.edu.uniajc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.edu.uniajc" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.edu.uniajc"/>
   <element name="getCargaAcademicafull">
    <complexType>
     <sequence>
      <element name="IDENTIFICACION" type="xsd:int"/>
      <element name="AÑO" type="xsd:int"/>
      <element name="PERIODO" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCargaAcademicafullResponse">
    <complexType>
     <sequence>
      <element name="getCargaAcademicafullReturn" type="tns1:CargaAcademica"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCargaAcademicaJSON">
    <complexType>
     <sequence>
      <element name="IDENTIFICACION" type="xsd:int"/>
      <element name="AÑO" type="xsd:int"/>
      <element name="PERIODO" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCargaAcademicaJSONResponse">
    <complexType>
     <sequence>
      <element name="getCargaAcademicaJSONReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.edu.uniajc" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="CargaAcademica">
    <sequence>
     <element name="DOGR_FECHACAMBIO" nillable="true" type="xsd:string"/>
     <element name="DOGR_REGISTRADOPOR" nillable="true" type="xsd:string"/>
     <element name="GRUP_CUPOS" nillable="true" type="xsd:string"/>
     <element name="GRUP_NOMBRE" nillable="true" type="xsd:string"/>
     <element name="MATE_CODIGOMATERIA" nillable="true" type="xsd:string"/>
     <element name="MATE_NOMBRE" nillable="true" type="xsd:string"/>
     <element name="PEGE_DOCUMENTOIDENTIDAD" nillable="true" type="xsd:string"/>
     <element name="PEGE_ID" nillable="true" type="xsd:string"/>
     <element name="PEUN_PERIODO" nillable="true" type="xsd:string"/>
     <element name="UNID_NOMBRE" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCargaAcademicafullRequest">

      <wsdl:part element="impl:getCargaAcademicafull" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCargaAcademicaJSONRequest">

      <wsdl:part element="impl:getCargaAcademicaJSON" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCargaAcademicaJSONResponse">

      <wsdl:part element="impl:getCargaAcademicaJSONResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCargaAcademicafullResponse">

      <wsdl:part element="impl:getCargaAcademicafullResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSCargaAcademica">

      <wsdl:operation name="getCargaAcademicafull">

         <wsdl:input message="impl:getCargaAcademicafullRequest" name="getCargaAcademicafullRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCargaAcademicafullResponse" name="getCargaAcademicafullResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCargaAcademicaJSON">

         <wsdl:input message="impl:getCargaAcademicaJSONRequest" name="getCargaAcademicaJSONRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCargaAcademicaJSONResponse" name="getCargaAcademicaJSONResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSCargaAcademicaSoapBinding" type="impl:WSCargaAcademica">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCargaAcademicafull">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCargaAcademicafullRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCargaAcademicafullResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCargaAcademicaJSON">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCargaAcademicaJSONRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCargaAcademicaJSONResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSCargaAcademicaService">

      <wsdl:port binding="impl:WSCargaAcademicaSoapBinding" name="WSCargaAcademica">

         <wsdlsoap:address location="http://localhost:8280/WS_cargaAcademica/services/WSCargaAcademica"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
